/* Tested 10:00am April 1 */

@charset "UTF-8";
 /*==== Icons ====*/
@font-face {
  font-family: "tvo-custom";
  src:url("https://players.brightcove.net/23648095001/ilc/fonts/tvo-custom.eot");
  src:url("https://players.brightcove.net/23648095001/ilc/fonts/tvo-custom.eot?#iefix") format("embedded-opentype"),
    url("https://players.brightcove.net/23648095001/ilc/fonts/tvo-custom.woff") format("woff"),
    url("https://players.brightcove.net/23648095001/ilc/fonts/tvo-custom.ttf") format("truetype"),
    url("https://players.brightcove.net/23648095001/ilc/fonts/tvo-custom.svg#tvo-custom") format("svg");
  font-weight: normal;
  font-style: normal;
}


@font-face {
    font-family: 'VideoJS_tvo';
   src: url('https://players.brightcove.net/18140038001/tvo-web-player/font/videojs_tvo.eot');
    src: url('https://players.brightcove.net/18140038001/tvo-web-player/font/videojs_tvo.eot?#iefix') format('embedded-opentype'),
         url('https://players.brightcove.net/18140038001/tvo-web-player/font/videojs_tvo.woff') format('woff'),
         url('https://players.brightcove.net/18140038001/tvo-web-player/font/videojs_tvo.ttf') format('truetype'),
         url('https://players.brightcove.net/18140038001/tvo-web-player/font/videojs_tvo.svg#VideoJS_tvo') format('svg');
    font-weight: normal;
    font-style: normal;
}

[data-icon]:before {
  font-family: "tvo-custom" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak-as: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "tvo-custom" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak-as: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-file-text-o:before {
  content: "\e000";
}

/* Override default font size */
.vjs-bc-player-Z5VxR5vq0_default .vjs-control-bar {
    font-size: 18px !important;
}

/* Control bar becomes so tiny when user is inactive */
.bc-player-Z5VxR5vq0_default.not-hover.vjs-has-started.vjs-paused.vjs-user-active:not(.vjs-audio-only-mode) .vjs-progress-control,
.bc-player-Z5VxR5vq0_default.not-hover.vjs-has-started.vjs-playing.vjs-user-active:not(.vjs-audio-only-mode) .vjs-progress-control,
.bc-player-Z5VxR5vq0_default.not-hover.vjs-has-started.vjs-paused.vjs-user-inactive:not(.vjs-audio-only-mode) .vjs-progress-control,
.bc-player-Z5VxR5vq0_default.not-hover.vjs-has-started.vjs-playing.vjs-user-inactive:not(.vjs-audio-only-mode) .vjs-progress-control,
.bc-player-Z5VxR5vq0_default.vjs-has-started.vjs-playing.vjs-user-inactive:not(.vjs-audio-only-mode) .vjs-progress-control,
.bc-player-Z5VxR5vq0_default.vjs-has-started.vjs-paused.vjs-ad-playing.vjs-user-inactive:not(.vjs-audio-only-mode) .vjs-progress-control {
  height: 0.3em;
  top: -0.3em;
  pointer-events: none;
  -webkit-transition: height 1s, top 1s;
  -moz-transition: height 1s, top 1s;
  -ms-transition: height 1s, top 1s;
  -o-transition: height 1s, top 1s;
  transition: height 1s, top 1s;
}

/* In fullscreen, progress bar is not shown at all unless user is active */
.bc-player-Z5VxR5vq0_default.not-hover.vjs-has-started.vjs-paused.vjs-user-active.vjs-fullscreen .vjs-progress-control,
.bc-player-Z5VxR5vq0_default.not-hover.vjs-has-started.vjs-playing.vjs-user-active.vjs-fullscreen .vjs-progress-control,
.bc-player-Z5VxR5vq0_default.not-hover.vjs-has-started.vjs-paused.vjs-user-inactive.vjs-fullscreen .vjs-progress-control,
.bc-player-Z5VxR5vq0_default.not-hover.vjs-has-started.vjs-playing.vjs-user-inactive.vjs-fullscreen .vjs-progress-control,
.bc-player-Z5VxR5vq0_default.vjs-has-started.vjs-playing.vjs-user-inactive.vjs-fullscreen .vjs-progress-control {
  opacity: 0;
  -webkit-transition: opacity 1s;
  -moz-transition: opacity 1s;
  -ms-transition: opacity 1s;
  -o-transition: opacity 1s;
  transition: opacity 1s;
}

/* when navigating with keyboard ensure that menus are visible */
.bc-player-Z5VxR5vq0_default.not-hover.vjs-has-started.vjs-playing.vjs-user-active .vjs-control-bar-visible .vjs-menu,
.bc-player-Z5VxR5vq0_default.not-hover.vjs-has-started.vjs-paused.vjs-user-active .vjs-control-bar-visible .vjs-menu,
.bc-player-Z5VxR5vq0_default.not-hover.vjs-has-started.vjs-paused.vjs-user-inactive .vjs-control-bar-visible .vjs-menu,
.bc-player-Z5VxR5vq0_default.not-hover.vjs-has-started.vjs-playing.vjs-user-inactive .vjs-control-bar-visible .vjs-menu,
.bc-player-Z5VxR5vq0_default.vjs-has-started.vjs-playing.vjs-user-inactive .vjs-control-bar-visible .vjs-menu,
.bc-player-Z5VxR5vq0_default.vjs-has-started.vjs-paused.vjs-ad-playing.vjs-user-inactive .vjs-control-bar-visible .vjs-menu-item{
  opacity: 1;
}
/* 
Big Play Button
.video-js .vjs-big-play-button {
    background: #E7131A;
    opacity: 1;
    border-radius: 100% !important;
    border: 0;
    transform: scale(1.3);
  }
  
  .video-js:hover .vjs-big-play-button, .video-js .vjs-big-play-button:hover {
    background: #E7131A !important;
    transform: scale(1.6);
    transition: 0.2s transform;
          -webkit-transition: 0.2s transform;
      -moz-transition: 0.2s transform;
      -ms-transition: 0.2s transform;
      -o-transition: 0.2s transform;
    box-shadow: 0 0 15px 3px rgba(0, 0, 0, 0.3) !important;
  }
  
  .video-js .vjs-big-play-button .vjs-icon-placeholder:before {
      content: "\f101" !important;
      background: url(https://players.brightcove.net/18140038001/tvo-web-player/img/icon-play.svg) no-repeat;
       background-size: 70%;
      background-position: 55% 50%;
      line-height: 2.1em;
      transition: 0.2s transform;
      font-size: 0 !important;
      color: #ffffff00 !important;
      top: 0.18em;
  }
  
  
  .video-js .vjs-big-play-button:active,
  .video-js .vjs-big-play-button:focus,
  .video-js:active .vjs-big-play-button,
  .video-js:hover .vjs-big-play-button{
  background: #E7131A;
  }
   */
/* The Big Play Button */
/* .bc-player-Z5VxR5vq0_default .vjs-big-play-button {
    top: 50%;
    left: 50%;
    margin-left: -1em;
    margin-top: -1em;
    width: 2em;
    height: 2em;
    line-height: 2em;
    border: none;
    border-radius: 50%;
    font-size: 3.5em;
    background-color: rgba(0, 0, 0, 0.45);
    color: #fff;
    -webkit-transition: border-color 0.4s, outline 0.4s, background-color 0.4s;
    -moz-transition: border-color 0.4s, outline 0.4s, background-color 0.4s;
    -ms-transition: border-color 0.4s, outline 0.4s, background-color 0.4s;
    -o-transition: border-color 0.4s, outline 0.4s, background-color 0.4s;
    transition: border-color 0.4s, outline 0.4s, background-color 0.4s;
  } */
  
  /* Hover / active / focus color for Big Play Button */
  /* .bc-player-Z5VxR5vq0_default:hover .vjs-big-play-button,
  .bc-player-Z5VxR5vq0_default:active .vjs-big-play-button,
  .bc-player-Z5VxR5vq0_default .vjs-big-play-button:active,
  .bc-player-Z5VxR5vq0_default .vjs-big-play-button:focus {
    background-color: #08088c;
  }
   */
  /* Position for menus such as volume slider and chapter list */
  /* .bc-player-Z5VxR5vq0_default .vjs-menu-button-popup .vjs-menu {
    left: -3em;
  }   */
  
/* Big Play Button */

.video-js .vjs-big-play-button {
  background: rgba(0,0,0,0.55);
  opacity: 1;
  border-radius: 100% !important;
  border: 0;
  transform: scale(1.3);
}

.video-js:hover .vjs-big-play-button, .video-js .vjs-big-play-button:hover {
  background: #008800 !important;
  transform: scale(1.6);
  transition: 0.2s transform;
        -webkit-transition: 0.2s transform;
    -moz-transition: 0.2s transform;
    -ms-transition: 0.2s transform;
    -o-transition: 0.2s transform;
  box-shadow: 0 0 15px 3px rgba(0, 0, 0, 0.3) !important;
}

.video-js .vjs-big-play-button .vjs-icon-placeholder:before {
  content: "\f101" !important;
  background: url(https://players.brightcove.net/18140038001/tvo-web-player/img/icon-play.svg) no-repeat;
    background-size: 70%;
  background-position: 55% 50%;
  line-height: 2.1em;
  transition: 0.2s transform;
  font-size: 0 !important;
  color: #ffffff00 !important;
  /* top: 0.18em;*/
}


.video-js .vjs-big-play-button:active,
.video-js .vjs-big-play-button:focus,
.video-js:active .vjs-big-play-button,
.video-js:hover .vjs-big-play-button{
background: #008800;
}

/*==== Control Bar ====*/
.video-js .vjs-control-bar {
    color: #fff;
  background: none;
  visibility: hidden;
  height: 4.5em;
  width: 100%;
  padding: 0px 10px 0px 10px;
  overflow: visible !important;
  z-index: 1;
}

.video-js .vjs-control-bar:after {
  content: "";
  background: rgb(22 23 37 / 75%);
  background: linear-gradient(0deg,rgba(30,34,48,0.8) 5%,rgba(30,34,48,0) 75%, rgba(30,34,40,0) 100%);
  width: 100%;
  height: 120px;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
  transition: 0.4s opacity ease;
  transition-delay: 0s;
}

.video-js.vjs-playing.vjs-user-active.not-hover .vjs-control-bar:after,
.video-js.vjs-playing.vjs-user-inactive .vjs-control-bar:after{
    opacity: 0;
    transition-delay: 5s;
}

.video-js .vjs-control.vjs-button{
  margin: 0px 4px 0px 0px;
}

.vjs-has-started .vjs-control-bar {
  visibility: visible;
}

/* Play Toggle */

/* .video-js .vjs-play-control {
}
  */

.vjs-control-bar {
  display: flex;
  opacity: 1;
  visibility: visible;
  display: initial;
}

.vjs-paused .vjs-dock-text, .vjs-paused .vjs-control-bar, .not-hover .vjs-control-bar{
  opacity: 1 !important;
}

.not-hover.vjs-has-started.vjs-playing.vjs-user-active .vjs-control-bar:not(.vjs-focus-within):not(.vjs-control-bar-visible){
      transform: translateY(6.65em) !important;
}


/* Volume Bar */
.vjs-volume-bar.vjs-slider-bar.vjs-slider.vjs-slider-horizontal {
  color: #E7131A;
  height: 8px;
  border-radius: 40px;
  left: 0px;
}

.video-js .vjs-volume-bar {
    top: 16px;
    margin: 0;
}


/* Volume Level */
.video-js .vjs-volume-level {
  background: #fff;
  border-radius: 40px;
  height: 8px;

}

.video-js .vjs-volume-level:before {
  color: #eee;
  height: 10px;
  display: none;
}


.video-js .vjs-volume-panel {
    margin-right: 10px;
    margin-left: 4px;
}


/* Current Time Display */
.video-js .vjs-time-control{
  padding: 0;
  font-size: 0.85rem;
  color: #fff;
  line-height: 3em;
}

.video-js .vjs-time-control{
  min-width: 1em;
}

/* .video-js .vjs-time-control.vjs-control{
  margin:0px 0px 0px 5px;
}
  */



/* Progess Bar */

.video-js .vjs-progress-control .vjs-progress-holder {
    margin: 0px 15px 0px 15px;
    width: 100%;
}


/* .video-js .vjs-progress-control:hover .vjs-progress-holder {
} */

.vjs-progress-control{
  transition: 0.2s all;
      -webkit-transition:0.2s all;
    -moz-transition:0.2s all;
    -ms-transition: 0.2s all;
    -o-transition: 0.2s all;
}

.vjs-mouse .vjs-progress-control
{
  height: 0.5em !important;
  top: -0.5em !important;
}
.vjs-mouse .vjs-progress-control:hover
{
  height: 0.8em !important;
  top: -0.8em !important;
}
.video-js .vjs-progress-control.vjs-control {
  color: #fff;
  width: 100%;
}

.vjs-button>.vjs-icon-placeholder:before {
    font-size: 2.6em;
    line-height: 1.6em;
}




/* Captions */

.vjs-subs-caps-button.vjs-button{
  margin-right: 2px;
}

.vjs-subs-caps-button.vjs-button>.vjs-icon-placeholder:before {
    font-size: 2.9em;
    line-height: 1.5em;
}


/* Airplay */
.video-js .vjs-airplay-button{
  background: none;
}

.video-js .vjs-airplay-button:hover {
  transform: scale(1.1);
}

.video-js .vjs-airplay-button .vjs-icon-placeholder:before {
  content: '\F128';
  font-size: 2.65em;
}



/* Play Progress Bar */
.vjs-slider,
.vjs-load-progress,
.vjs-slider-bar {
  border-radius: 40px;
}

.video-js .vjs-slider{
  background: rgba(225,225,225,0.6);
  margin-bottom: 10px !important
}

.video-js .vjs-load-progress, .video-js .vjs-load-progress div {
    background: rgba(225, 225,225,0.8);
  border-radius: 40px !important;
}

.video-js .vjs-play-progress.vjs-slider-bar {
  color: #E7131A;
  background-color: #E7131A;
}

.video-js .vjs-play-progress.vjs-slider-bar:after {
  content: "" !important;
  border-radius: 100px;
  background: #E7131A;
  width: 16px;
  height: 16px;
  position: absolute;
  right: -5px;
  top: -5px;
  box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.3);
  transition: 0.05s all ease-in;
      -webkit-transition:0.05s all ease-in;
    -moz-transition:0.05s all ease-in;
    -ms-transition: 0.05s all ease-in;
    -o-transition: 0.05s all ease-in;
}


.video-js .vjs-progress-control:hover .vjs-slider-bar:after {
  width: 20px;
  height: 20px;
  top: -6px;
  right: -7px;
}

.video-js .vjs-slider:focus {
    text-shadow: 0 0 0em #fff;
    box-shadow: 0 0 0em #fff;
    border-radius: 40px !important;
}


.video-js.vjs-playing.vjs-user-inactive .vjs-control-bar{
  opacity: 0;
  transform: translateY(6.65em) !important;
  transition: 0.4s transform;
}


.vjs-paused .vjs-control-bar{
  transform: translateY(0em) !important;
}





/* Control Icon Font */
.video-js .vjs-big-play-button .vjs-icon-placeholder:before,
.video-js .vjs-big-play-button .vjs-icon-placeholder:before,
.video-js .vjs-play-control .vjs-icon-placeholder:before,
.vjs-icon-play:before,.video-js .vjs-play-control.vjs-playing .vjs-icon-placeholder:before,
.vjs-icon-pause:before, .video-js .vjs-captions-button .vjs-icon-placeholder:before,
.video-js:lang(en) .vjs-subs-caps-button .vjs-icon-placeholder:before,
.video-js:lang(fr-CA) .vjs-subs-caps-button .vjs-icon-placeholder:before,
.vjs-icon-captions:before, .video-js .vjs-icon-placeholder, .vjs-icon-volume-mute,
.video-js .vjs-mute-control .vjs-icon-placeholder:before,
.vjs-icon-volume-high:before, .video-js .vjs-mute-control.vjs-vol-0 .vjs-icon-placeholder:before,
.vjs-icon-volume-mute:before, .video-js .vjs-mute-control.vjs-vol-1 .vjs-icon-placeholder:before, .vjs-icon-volume-mute:before, .video-js .vjs-mute-control.vjs-vol-2 .vjs-icon-placeholder:before, .vjs-icon-volume-mute:before, .video-js .vjs-mute-control.vjs-vol-3 .vjs-icon-placeholder:before, .vjs-icon-volume-mute:before, .video-js .vjs-picture-in-picture-control .vjs-icon-placeholder:before, .vjs-icon-picture-in-picture-enter:before, .video-js.vjs-picture-in-picture .vjs-picture-in-picture-control .vjs-icon-placeholder:before, .vjs-icon-picture-in-picture-exit:before, .video-js .vjs-fullscreen-control .vjs-icon-placeholder:before, .vjs-icon-fullscreen-enter:before, .video-js.vjs-fullscreen .vjs-fullscreen-control .vjs-icon-placeholder:before, .vjs-icon-fullscreen-exit:before, .video-js .vjs-control.vjs-close-button .vjs-icon-placeholder:before, .vjs-icon-cancel:before, .video-js .vjs-play-control.vjs-ended .vjs-icon-placeholder:before, .vjs-icon-replay:before, .video-js .vjs-airplay-button .vjs-icon-placeholder:before, .video-js .vjs-chapters-button .vjs-icon-placeholder:before,
.vjs-icon-chapters:before, .vjs-icon-share:before, .vjs-icon-cog:before, .video-js .vjs-play-progress:before,
.video-js .vjs-volume-level:before, .vjs-icon-circle:before, .vjs-seek-to-live-control .vjs-icon-placeholder:before, .vjs-icon-circle-outline:before, .vjs-icon-circle-inner-circle:before, .vjs-icon-hd:before, .video-js .vjs-play-control.vjs-ended .vjs-icon-placeholder:before,
.vjs-icon-replay:before, .vjs-icon-next-item:before, .vjs-icon-previous-item:before
{
  font-family: 'VideoJS_tvo' !important;
}



/* Control bar button colours */

.vjs-button,
.vjs-fullscreen-control.vjs-control,
button.vjs-mute-control,
.vjs-control.vjs-button.vjs-vol-3,
.vjs-control.vjs-button,
.video-js .vjs-play-control .vjs-icon-placeholder:before,
.vjs-icon-play:before,
.vjs-volume-level:before {
  color: #eee;
  background-color: rgba(0,0,0,0) !important;
  transition: 0.1s all ease-in-out;
        -webkit-transition: 0.1s all ease-in-out;
    -moz-transition: 0.1s all ease-in-out;
    -ms-transition:  0.1s all ease-in-out;
    -o-transition: 0.1s all ease-in-out;
}


/* Control bar button colours - HOVER */
.vjs-fullscreen-control.vjs-control:hover,
button.vjs-mute-control:hover,
.vjs-fullscreen-control:hover,
.vjs-picture-in-picture-control:hover,
.video-js .vjs-play-control:hover .vjs-icon-placeholder:before,
.vjs-play-control:hover .vjs-icon-play:before,
.vjs-volume-level:hover:before,
.vjs-control.vjs-subs-caps-button.vjs-hover .vjs-button,
.vjs-control.vjs-volume-panel-horizontal.vjs-hover .vjs-button {
  color: #fff;
  border: 0 !important;
  transform: scale(1.1);

}

.vjs-control.vjs-subs-caps-button .vjs-button{
    transition: 0.2s all;
    -webkit-transition: 0.2s all;
    -moz-transition: 0.2s all;
    -ms-transition: 0.2s all;
    -o-transition: 0.2s all;
}

.vjs-transcript-control span[class="vjs-icon-placeholder"]:before {
  line-height: 2;
  font-size: 1.5em;
}








/*==== Menu ====*/


.vjs-menu {
  color: #fff;
}

ul.vjs-menu-content {
  padding: 0 !important;
  margin: 0 !important;
}

.vjs-menu-button-popup .vjs-menu .vjs-menu-content {
  border-radius: 4px;
  padding: 4px 0px 0px 0px !important;
  background-color: #1E222E !important;
  bottom: 26px;
}

.vjs-menu-content li {
  font-size: 14px !important;
  line-height: 18px !important;
  margin: 0px 4px 4px 4px !important;
  background-color: rgba(225,225,225,0.1) !important;
  opacity: 0.8;
}

.vjs-menu-content li.vjs-texttrack-settings{
    background-color: rgba(225,225,225,0) !important;

}

.vjs-menu-content li span {
  color: #fff !important;
  letter-spacing: 0 !important;
  font-weight: normal !important;
  text-transform: capitalize;
  font-size: 0.85em;

}

.vjs-menu-content li:last-child {
  margin: 0;
}

.vjs-menu-content li.vjs-selected {
  border-left: 5px #E7131A solid;
  background-color: #fff !important;
  opacity: 1;
}

li.vjs-selected span {
  color: #000 !important;
}


.vjs-menu-button-popup .vjs-menu .vjs-menu-item:active, .vjs-menu-button-popup .vjs-menu .vjs-menu-item:focus, .vjs-menu-button-popup .vjs-menu .vjs-menu-item:hover{
  text-shadow: none;
  opacity: 1;
}




/* Caption Dialog */

.vjs-modal-dialog.vjs-text-track-settings {
  background-color: #161725;
  background-color: #161725e3;
  color: #fff;
  height: 100%;
}

.vjs-track-setting select {
  border-radius: 10px;
  padding: 4px;
}


.vjs-text-track-settings fieldset span>select {
    max-width: initial;
}


.video-js .vjs-control:focus, .video-js .vjs-control:focus:before, .video-js .vjs-control:hover:before,.bc-player-Z5VxR5vq0_default .vjs-menu-button-popup .vjs-menu .vjs-menu-item:active, .bc-player-Z5VxR5vq0_default .vjs-menu-button-popup .vjs-menu .vjs-menu-item:focus, .bc-player-Z5VxR5vq0_default .vjs-menu-button-popup .vjs-menu .vjs-menu-item:hover{
  text-shadow: none;
}

.vjs-track-settings-controls button {
  background-color: #225BE4;
  background-image: none;
  color: #FFF;
  cursor: pointer;
  border-radius: 20px;
  padding: 4px 20px;
  transition: 0.2s all;
      -webkit-transition: 0.2s all;
    -moz-transition: 0.2s all;
    -ms-transition: 0.2s all;
    -o-transition: 0.2s all;
}

.vjs-track-settings-controls button:hover {
    color: #fff;
    transform: scale(1.1);
}

.vjs-track-settings-controls button:active, .vjs-track-settings-controls button:focus {
    background-image: initial;
}  

.bc-player-Z5VxR5vq0_default .vjs-control-bar {
  display: flex;
  opacity: 1;
  visibility: visible;
}

.bcTextContainer {
  font-family: SuisseIntl, Helvetica, Arial, sans-serif;
  position: absolute;
  top: 0px;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}

.bcTextContent {
  height: calc(100% - 42px);
  overflow: auto;
  background-color: white;
  font-size: 14px !important; 
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid grey;
}

/*Fix for IE bug.
Dotted outline that appears when text box gets focus is duplicated repeadedly when the text is scrolled.
Fix is to replace default focus behaviour with the following.
FF second rule (-webkit prefix).
These rules duplicate the look and feel of each browser's default behaviour.*/
.bcTextContent:focus {
  outline: 1px dotted #212121;
  outline: 5px auto -webkit-focus-ring-color;
}

.bcTextFooter {
  height: 42px;
  background-color: grey;
  box-sizing: border-box;
}

.bcRtnButton {
  float: right;
  margin-top: 12px;
  margin-right: 40px;
  border: solid white 1px;
  color: white;
  background-color: grey;
  cursor: pointer;
  font-size: 14px !important;
}

/*Add the hi-lite on our custom button when it gets focus.
This mimics the behaviour of the standard player buttons.*/
.bcRtnButton:focus {
  text-shadow: 0 0 1em #fff;
}

/*Setting button border to zero kills the default focus styles on Firefox.
We have to re-set it with this, which mimics the default behaviour.*/
.bcRtnButton:-moz-focusring {
  outline: 1px dotted #212121;
}

/*Re-sets the default Brightcove player button behaviour on Firefox in
case anyone has disabled it in CSS by setting button::-moz-focus-inner {border: 0;}.
A lot of people do this because it's ugly, but this is normally left on in the Brightcove player */
.vjs-control-bar .vjs-button:-moz-focusring {
  outline: 1px dotted #212121;
}

/*Required only for v6 player*/
.vjs-custom-control-spacer.vjs-spacer {
  display: block;
}

/*Mimics the behaviour of the standard brightcove player buttons.*/
.vjs-transcript-control {
  cursor: pointer;
}

/*Mimics how font icons are added for standard Brightcove player buttons.*/
.vjs-transcript-control span[class="vjs-icon-placeholder"] {
  font-family: tvo-custom;
  font-weight: 400;
  font-style: normal;
}

/*Mimics how font icons are added for standard Brightcove player buttons.*/
.vjs-transcript-control span[class="vjs-icon-placeholder"]:before {
  content: "\e000";
}

/* Styles for skip back and skip forward buttons */
.vjs-skip-back, .vjs-skip-ahead {
  display: inline-block;
  width: 30px;
  height: 30px;
  background-color: #333; /* Example background color */
  color: #fff; /* Example text color */
  border: none;
  cursor: pointer;
  margin-left: 5px; /* Adjust margin as needed */
}

.vjs-skip-back .vjs-icon-placeholder:before, .vjs-skip-ahead .vjs-icon-placeholder:before {
  content: "\e000"; /* Replace with appropriate icon content */
  font-family: tvo-custom;
  font-size: 14px !important; /* Adjust size as needed */
  color: #fff; /* Example icon color */
}


/*  Skip buttons */
.vjs-skip-back, .vjs-skip-ahead{
  opacity: 0.94;
  transition: 0.2s;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
  height: 100%;
  text-align: center;
  width: 3.4em !important;
  margin-right: 0px;
}

.vjs-skip-back:hover, .vjs-skip-ahead:hover{
  opacity: 1;
  cursor: pointer;
  transform: scale(1.1);
}


.vjs-skip-back .vjs-icon-placeholder:before, .vjs-skip-ahead .vjs-icon-placeholder:before{
    font-family: 'VideoJS_tvo';
    font-size: 2.6em;
    line-height: 1.6em;
}

.vjs-skip-back .vjs-icon-placeholder:before {
    content: "\f12A" !important;
}

.vjs-skip-ahead .vjs-icon-placeholder:before {
    content: "\f129" !important;
}

.vjs-mouse.bc-player-Z5VxR5vq0_default .vjs-control-bar {
  font-size: 14px !important;
}

.bc-player-Z5VxR5vq0_default *,.bc-player-Z5VxR5vq0_default :after,.bc-player-Z5VxR5vq0_default :before {
      /* display: inline-block; */
      box-sizing: inherit;
      font-size: 14px !important;
      color: inherit;
      line-height: inherit
  }

  .bc-player-Z5VxR5vq0_default {
      width: 300px;
      height: 150px;
      font-size: 14px !important;
      overflow: hidden
  }

  .bc-player-Z5VxR5vq0_default.vjs-fluid.vjs-16-9:not(.vjs-audio-only-mode),.bc-player-Z5VxR5vq0_default.vjs-fluid:not(.vjs-audio-only-mode) {
      padding-top: 56.25%
  }

  .bc-player-Z5VxR5vq0_default.vjs-fluid.vjs-4-3:not(.vjs-audio-only-mode) {
      padding-top: 75%
  }

  .bc-player-Z5VxR5vq0_default.vjs-fill:not(.vjs-audio-only-mode) {
      width: 100%;
      height: 100%
  }

  .bc-iframe,.bc-iframe body,.bc-player-Z5VxR5vq0_default,.bc-player-Z5VxR5vq0_default .vjs-poster {
      background-color: #151B17
  }

  .bc-iframe,.bc-iframe .bc-player-Z5VxR5vq0_default,.bc-iframe body {
      margin: 0;
      width: 100%;
      height: 100%;
      overflow: hidden
  }

  .bc-player-Z5VxR5vq0_default.vjs-fullscreen,.bc-player-Z5VxR5vq0_default.vjs-fullscreen .vjs-tech {
      width: 100%!important;
      height: 100%!important
  }

  .bc-player-Z5VxR5vq0_default .vjs-track-setting select {
      color: #000;
      background-color: #fff
  }

  .bc-player-Z5VxR5vq0_default .vjs-audio-button .vjs-menu-item,.bc-player-Z5VxR5vq0_default .vjs-chapters-button .vjs-menu-item,.bc-player-Z5VxR5vq0_default .vjs-descriptions-button .vjs-menu-item,.bc-player-Z5VxR5vq0_default .vjs-subs-caps-button .vjs-menu-item {
      text-transform: none
  }

  .bc-player-Z5VxR5vq0_default.vjs-waiting-for-autoplay .vjs-big-play-button {
      opacity: 0
  }

  .bc-player-Z5VxR5vq0_default .vjs-progress-control .vjs-mouse-display {
      z-index: 2
  }

  /*! @name @brightcove/player-core @version 0.31.4 @license UNLICENSED */
  .vjs-modal-dialog.vjs-player-info-modal {
      background: rgba(0,0,0,.9)
  }

  .vjs-modal-dialog.vjs-player-info-modal .vjs-modal-dialog-content {
      overflow: auto;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 1em
  }

  @media screen and (max-width: 640px) {
      .vjs-modal-dialog.vjs-player-info-modal .vjs-modal-dialog-content {
          grid-template-columns:1fr
      }
  }

  .vjs-modal-dialog.vjs-player-info-modal h2 {
      font-size: 1.1667em;
      margin: 0 0 .4286em
  }

  .vjs-modal-dialog.vjs-player-info-modal table {
      border-bottom: 1px solid #333;
      border-collapse: collapse;
      border-top: 1px solid #333;
      margin-bottom: 1.5em;
      width: 100%
  }

  .vjs-modal-dialog.vjs-player-info-modal table.vjs-two td,.vjs-modal-dialog.vjs-player-info-modal table.vjs-two th {
      width: 50%
  }

  .vjs-modal-dialog.vjs-player-info-modal table.vjs-three td,.vjs-modal-dialog.vjs-player-info-modal table.vjs-three th {
      width: 33.333%
  }

  .vjs-modal-dialog.vjs-player-info-modal th {
      font-weight: 400;
      text-align: left
  }

  .vjs-modal-dialog.vjs-player-info-modal td {
      border-bottom: 1px solid #333;
      opacity: .5
  }

  .vjs-modal-dialog.vjs-player-info-modal tr:last-child td {
      border-bottom: 0
  }

  .vjs-modal-dialog.vjs-player-info-modal tr:hover td {
      opacity: 1
  }

  .vjs-error-display {
      color: #fff;
      display: none;
      font-family: Helvetica,Arial,sans serif;
      font-size: 16px;
      line-height: 1.428
  }

  .vjs-error .vjs-error-display {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: rgba(0,0,0,.5)
  }

  .vjs-error .vjs-error-display .vjs-modal-dialog-content {
      font-size: 14px
  }

  .vjs-errors-dialog {
    text-align: left;
    border: 1px #999 solid;
    overflow: hidden;
    position: absolute;
    top: 2%;
    bottom: 2%;
    left: 5%;
    right: 5%;
    padding-left: 1%;
    padding-right: 1%;
    background: rgba(24, 24, 24, 0.8);
    filter: opacity(0.8); /* Modern alternative */
    /* -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#CC000000, endColorstr=#CC000000)"; */ /* Remove if not needed */
}

  .vjs-errors-details {
      margin-top: 15px
  }

  .vjs-errors-message {
      border: 1px #999 solid;
      background-color: #2c2c2c;
      overflow: auto;
      margin-top: 15px;
      padding: 15px
  }

  .vjs-errors-ok-button-container {
      display: block;
      position: absolute;
      bottom: 15px;
      left: 15px;
      right: 15px;
      text-align: center
  }

  .vjs-errors-ok-button {
      display: block;
      margin: 0 auto;
      width: 80px;
      height: 36px;
      background-color: #000;
      border: 1px #999 solid;
      border-radius: 5px;
      color: #999;
      font-size: 14px;
      cursor: pointer
  }

  .vjs-errors-ok-button:hover {
      border: 1px #FFF solid;
      color: #CCC
  }

  .vjs-errors-content-container {
      overflow: auto;
      position: absolute;
      padding-bottom: 15px;
      top: 0;
      left: 15px;
      right: 15px;
      bottom: 61px
  }

  .vjs-errors-headline {
      font-size: 14px;
      font-weight: 700;
      padding-right: 3em
  }

  .vjs-errors-dialog .vjs-control.vjs-close-button {
      width: 3em;
      height: 3em;
      top: 0
  }

  .vjs-errors-flashmessage {
      float: right;
      font-size: 9px;
      font-style: italic
  }

  .vjs-xs.vjs-error-display {
      font-size: 14px;
      background-color: #000
  }

  .vjs-xs.vjs-error-display .vjs-errors-details,.vjs-xs.vjs-error-display .vjs-errors-message {
      display: none
  }

  .vjs-xs .vjs-errors-content-container {
      top: 0
  }

  .vjs-xs .vjs-errors-headline {
      font-size: 16px;
      font-weight: 700
  }

  .vjs-xs .vjs-errors-dialog {
      border: none;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0
  }

  .vjs-xs.vjs-errors-flashmessage {
      display: none
  }

/* Styles for skip back and skip forward buttons */

.vjs-skip-back, .vjs-skip-ahead {
  display: inline-block;
  width: 30px;
  height: 30px;
  background-color: #333; /* Example background color */
  color: #fff; /* Example text color */
  border: none;
  cursor: pointer;
  margin-left: 5px; /* Adjust margin as needed */
}

.vjs-skip-back .vjs-icon-placeholder:before, .vjs-skip-ahead .vjs-icon-placeholder:before {
  content: "\e000"; /* Replace with appropriate icon content */
  font-family: tvo-custom;
  font-size: 18px; /* Adjust size as needed */
  color: #fff; /* Example icon color */
}



/*  Skip buttons */
.vjs-skip-back, .vjs-skip-ahead{
  opacity: 0.94;
  transition: 0.2s;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
  height: 100%;
  text-align: center;
  width: 3.4em !important;
  margin-right: 0px;
}

.vjs-skip-back:hover, .vjs-skip-ahead:hover{
  opacity: 1;
  cursor: pointer;
  transform: scale(1.1);
}


.vjs-skip-back .vjs-icon-placeholder:before, .vjs-skip-ahead .vjs-icon-placeholder:before{
    font-family: 'VideoJS_tvo';
    font-size: 2.6em;
    line-height: 1.6em;
}

.vjs-skip-back .vjs-icon-placeholder:before {
    content: "\f12A" !important;
}

.vjs-skip-ahead .vjs-icon-placeholder:before {
    content: "\f129" !important;
}

.bc-player-Z5VxR5vq0_default *,.bc-player-Z5VxR5vq0_default :after,.bc-player-Z5VxR5vq0_default :before {
      /* display: inline-block; */
      box-sizing: inherit;
      font-size: 18px;
      color: inherit;
      line-height: inherit
  }

  .bc-player-Z5VxR5vq0_default {
      width: 300px;
      height: 150px;
      font-size: 14px;
      overflow: hidden
  }

  .bc-player-Z5VxR5vq0_default.vjs-fluid.vjs-16-9:not(.vjs-audio-only-mode),.bc-player-Z5VxR5vq0_default.vjs-fluid:not(.vjs-audio-only-mode) {
      padding-top: 56.25%
  }

  .bc-player-Z5VxR5vq0_default.vjs-fluid.vjs-4-3:not(.vjs-audio-only-mode) {
      padding-top: 75%
  }

  .bc-player-Z5VxR5vq0_default.vjs-fill:not(.vjs-audio-only-mode) {
      width: 100%;
      height: 100%
  }

  .bc-iframe,.bc-iframe body,.bc-player-Z5VxR5vq0_default,.bc-player-Z5VxR5vq0_default .vjs-poster {
      background-color: #151B17
  }

  .bc-iframe,.bc-iframe .bc-player-Z5VxR5vq0_default,.bc-iframe body {
      margin: 0;
      width: 100%;
      height: 100%;
      overflow: hidden
  }

  .bc-player-Z5VxR5vq0_default.vjs-fullscreen,.bc-player-Z5VxR5vq0_default.vjs-fullscreen .vjs-tech {
      width: 100%!important;
      height: 100%!important
  }

  .bc-player-Z5VxR5vq0_default .vjs-track-setting select {
      color: #000;
      background-color: #fff
  }

  .bc-player-Z5VxR5vq0_default .vjs-audio-button .vjs-menu-item,.bc-player-Z5VxR5vq0_default .vjs-chapters-button .vjs-menu-item,.bc-player-Z5VxR5vq0_default .vjs-descriptions-button .vjs-menu-item,.bc-player-Z5VxR5vq0_default .vjs-subs-caps-button .vjs-menu-item {
      text-transform: none
  }

  .bc-player-Z5VxR5vq0_default.vjs-waiting-for-autoplay .vjs-big-play-button {
      opacity: 0
  }

  .bc-player-Z5VxR5vq0_default .vjs-progress-control .vjs-mouse-display {
      z-index: 2
  }

  /*! @name @brightcove/player-core @version 0.31.4 @license UNLICENSED */
  .vjs-modal-dialog.vjs-player-info-modal {
      background: rgba(0,0,0,.9)
  }

  .vjs-modal-dialog.vjs-player-info-modal .vjs-modal-dialog-content {
      overflow: auto;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 1em
  }

  @media screen and (max-width: 640px) {
      .vjs-modal-dialog.vjs-player-info-modal .vjs-modal-dialog-content {
          grid-template-columns:1fr
      }
  }

  .vjs-modal-dialog.vjs-player-info-modal h2 {
      font-size: 1.1667em;
      margin: 0 0 .4286em
  }

  .vjs-modal-dialog.vjs-player-info-modal table {
      border-bottom: 1px solid #333;
      border-collapse: collapse;
      border-top: 1px solid #333;
      margin-bottom: 1.5em;
      width: 100%
  }

  .vjs-modal-dialog.vjs-player-info-modal table.vjs-two td,.vjs-modal-dialog.vjs-player-info-modal table.vjs-two th {
      width: 50%
  }

  .vjs-modal-dialog.vjs-player-info-modal table.vjs-three td,.vjs-modal-dialog.vjs-player-info-modal table.vjs-three th {
      width: 33.333%
  }

  .vjs-modal-dialog.vjs-player-info-modal th {
      font-weight: 400;
      text-align: left
  }

  .vjs-modal-dialog.vjs-player-info-modal td {
      border-bottom: 1px solid #333;
      opacity: .5
  }

  .vjs-modal-dialog.vjs-player-info-modal tr:last-child td {
      border-bottom: 0
  }

  .vjs-modal-dialog.vjs-player-info-modal tr:hover td {
      opacity: 1
  }

  .vjs-error-display {
      color: #fff;
      display: none;
      font-family: Helvetica,Arial,sans serif;
      font-size: 16px;
      line-height: 1.428
  }

  .vjs-error .vjs-error-display {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: rgba(0,0,0,.5)
  }

  .vjs-error .vjs-error-display .vjs-modal-dialog-content {
      font-size: 14px
  }

  .vjs-errors-dialog {
      text-align: left;
      border: 1px #999 solid;
      overflow: hidden;
      position: absolute;
      top: 2%;
      bottom: 2%;
      left: 5%;
      right: 5%;
      padding-left: 1%;
      padding-right: 1%;
      background: rgba(24,24,24,.8);
      -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#CC000000, endColorstr=#CC000000)"
  }

  .vjs-errors-details {
      margin-top: 15px
  }

  .vjs-errors-message {
      border: 1px #999 solid;
      background-color: #2c2c2c;
      overflow: auto;
      margin-top: 15px;
      padding: 15px
  }

  .vjs-errors-ok-button-container {
      display: block;
      position: absolute;
      bottom: 15px;
      left: 15px;
      right: 15px;
      text-align: center
  }

  .vjs-errors-ok-button {
      display: block;
      margin: 0 auto;
      width: 80px;
      height: 36px;
      background-color: #000;
      border: 1px #999 solid;
      border-radius: 5px;
      color: #999;
      font-size: 14px;
      cursor: pointer
  }

  .vjs-errors-ok-button:hover {
      border: 1px #FFF solid;
      color: #CCC
  }

  .vjs-errors-content-container {
      overflow: auto;
      position: absolute;
      padding-bottom: 15px;
      top: 0;
      left: 15px;
      right: 15px;
      bottom: 61px
  }

  .vjs-errors-headline {
      font-size: 14px;
      font-weight: 700;
      padding-right: 3em
  }

  .vjs-errors-dialog .vjs-control.vjs-close-button {
      width: 3em;
      height: 3em;
      top: 0
  }

  .vjs-errors-flashmessage {
      float: right;
      font-size: 9px;
      font-style: italic
  }

  .vjs-xs.vjs-error-display {
      font-size: 14px;
      background-color: #000
  }

  .vjs-xs.vjs-error-display .vjs-errors-details,.vjs-xs.vjs-error-display .vjs-errors-message {
      display: none
  }

  .vjs-xs .vjs-errors-content-container {
      top: 0
  }

  .vjs-xs .vjs-errors-headline {
      font-size: 16px;
      font-weight: 700
  }

  .vjs-xs .vjs-errors-dialog {
      border: none;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0
  }

  .vjs-xs.vjs-errors-flashmessage {
      display: none
  }
